.action-label{
  color: #FFFFFF;
  font-size: 18;
}

.header_icon{
  font-size: 9;
  color: #FFFFFF;
  width: 7%;
  height: 6%;
  margin-right: 10;
  font-weight: normal;
}

.titulo_pregunta{
  font-size: 16;
  color: #000000;
  font-weight: 500;
}

.titulo_respuesta{
  font-size: 18;
  font-weight: bold;
}

.respuesta_correcta{
  font-size: 16;
  font-weight: 500;
}